<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- About Section -->
  <div class="mt-5 row justify-content-around">
    <%= partial 'partials/about' %>
    <!-- Skills Section -->
    <%= partial 'partials/skills' %>
  </div>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
